footer#v5-default.footer__private
    .row.mx-auto.bg-light
        .col-12
            .navbar.navbar-expand-sm.navbar-light.justify-content-center
                ul.navbar-nav.mx-auto.footer__private__nav
                    //- li.nav-item.active
                    //-     a.nav-link(href='#')
                    //-         span Home
                    //-         span.sr-only (current)