footer#v5-default.footer__public
    .row.mx-auto.bg-light
        .col-12
            .navbar.navbar-expand.navbar-light.justify-content-center
                ul.navbar-nav.mx-auto.footer__public__nav
                    //- li.nav-item.active
                    //-     a.nav-link(href='#')
                    //-         span Home
                    //-         span.sr-only (current)
                    //- li.nav-item
                    //-     a.nav-link(href='#') Link
                