header#v5-default.header__private
    nav.navbar.navbar-expand-xl.navbar-light.bg-light
        .row.align-items-center.justify-content-between.mx-auto
            .col-4.col-sm-2.col-xl-1.order-1.mx-xl-auto
                a.navbar-brand(href='#') 
                    img.img-fluid(src='../images/CloudLogo.png')
            .col-2.text-sm-right.order-2.order-xl-3
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#v5__navbar__header' aria-controls='v5__navbar__header' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
            .col-12.col-md-10.order-3.order-xl-2.col-xl-12.mx-xl-auto
                #v5__navbar__header.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.header__private__nav.mx-xl-auto
                    //- li.nav-item.active
                    //-     a.nav-link(href='#')
                    //-         span Home
                    //-         span.sr-only (current)