
<div class="row align-items-center mb-3 justify-content-between" id="horizontal-filter-bar">
  <div class="col-12 col-sm-5 col-md-4"> 
    <p class="mb-sm-0"><span class="font-weight-bold">Items Found</span><span class="ml-1">2092</span></p>
  </div>
  <div class="col-12 col-sm-7 col-md-6 col-lg-4 text-left text-lg-right">
    <div class="row align-items-center">
      <div class="col-4 col-sm-4 pr-0">
        <p class="mb-0 mr-lg-2"> Filter by:</p>
      </div>
      <div class="col-8 col-sm-8 pl-0">
        <select class="custom-select" name="">
          <option value="1">Price Low to High</option>
          <option value="2">Price Hight to Low</option>
        </select>
      </div>
    </div>
  </div>
</div>