@import "scss/_variables.scss";

@import "scss/components/_shopping-nav.scss";

body,
html {
  display: flex;
  flex-direction: column !important;
  height: 100% !important;
}

main {
  overflow-y: auto;
}

.fullscreen-bg {
  @include fullscreen-bg();
}

form {
  text-align: left;
}

.display-4 {
  font-size: 2.25rem;
}

// Components
.jumbotron__home {
  background-position: center -100px;
  border-radius: 0;
}

.item-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto 1em auto;
  img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

#search-results .item-img {
  width: 150px;
  height: 150px;
}

.search-result {
  .item-img {
    width: 120px !important;
    height: 120px !important;
  }
}

.item-title {
  font-size: 0.9rem;
}
// Media Queries
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .jumbotron__home {
    background-position: center -100px;
  }
}
@media (min-width: 1024px) {
  .jumbotron__home {
    background-position: center -300px;
  }
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1400px) {
}
