@import "scss/_variables.scss";

body,
html {
  display: flex;
  flex-direction: column !important;
  height: 100% !important;
}

main {
  overflow-y: auto;
}

.fullscreen-bg {
  @include fullscreen-bg();
}

form {
  text-align: left;
}

.display-4 {
  font-size: 2.25rem;
}

// Media Queries
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1400px) {
}
