
<div class="col-12">
  <div class="jumbotron jumbotron__home text-center m-0 fullscreen-bg" style="background-image: url(&quot;../images/ChairsOnBeach.png&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto">
          <div class="display-4 text-white">User, Say Yes to Adventure!</div>
          <p class="lead text-white">Earn. Redeem. Relax.</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-6 mx-auto">
          <div class="row"> 
            <div class="col-sm-6 mb-2 mb-sm-0"> <a class="btn btn-primary btn-block" href="/html/shopping.html">Start Earning</a></div>
            <div class="col-sm-6"> <a class="btn btn-primary btn-block" href="/html/shopping.html">Start Shopping</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>