
<div class="row mx-auto align-items-center text-center">
  <div class="col-9 col-sm-3 order-1"><a class="btn btn-primary d-block d-xl-none" id="mobile-nav" href="#">Departments<span class="ml-1 fas fa-caret-down"></span></a><a class="btn btn-primary d-none d-xl-block" id="mobile-nav" href="#">Departments<span class="ml-1 fas fa-caret-down"></span></a></div>
  <div class="col-3 col-sm-2 col-lg-1 order-2 order-sm-3">
    <div class="row">
      <div class="col-6 my-auto"><a href="./html/wishlist.html"><span class="fas fa-heart"></span></a></div>
      <div class="col-6 my-auto"><a href="./html/cart.html"><span class="fas fa-shopping-cart"></span></a></div>
    </div>
  </div>
  <div class="col-12 col-sm-7 col-lg-8 mt-3 mt-sm-0 order-3 order-sm-2">
    <div class="input-group">
      <div class="input-group-prepend d-none d-sm-block">
        <select class="custom-select" name="departmentSelect">
          <option value="">All Departments</option>
        </select>
      </div>
      <input class="form-control" type="text"/>
      <div class="input-group-append"><a class="btn btn-primary btn-block" href="#"><span class="fas fa-search"></span></a></div>
    </div>
  </div>
  <div class="col-12 shadow-lg bg-white" id="side-menu">
    <div class="menu">
      <nav id="stack-menu">
        <ul class="li list-group-itemst-group">
          <li class="list-group-item"><a href="#">Fugiat</a>
            <ul class="li list-group-itemst-group">
              <li class="list-group-item"><a href="#">Perferendis</a></li>
              <li class="list-group-item"><a href="#">Recusandae</a>
                <ul class="li list-group-itemst-group">
                  <li class="list-group-item"><a href="#">Vel</a></li>
                  <li class="list-group-item"><a href="#">Cumque</a></li>
                  <li class="list-group-item"><a href="#">Facere</a></li>
                  <li class="list-group-item"><a href="#">Enim</a></li>
                  <li class="list-group-item"><a href="#">Nihil</a></li>
                  <ul class="li list-group-itemst-group">
                    <li class="list-group-item"><a href="#">Quidem</a></li>
                    <li class="list-group-item"><a href="#">Temporibus</a></li>
                    <li class="list-group-item"><a href="#">Fugit</a></li>
                    <li class="list-group-item"><a href="#">Dolore</a></li>
                  </ul>
                </ul>
              </li>
              <li class="list-group-item"><a href="#">Vitae</a></li>
              <li class="list-group-item"><a href="#">Ipsum</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Lorem</a>
            <ul class="li list-group-itemst-group">
              <li class="list-group-item"><a href="#">Simili</a></li>
              <li class="list-group-item"><a href="#">Distinctio</a></li>
              <li class="list-group-item"><a href="#">Porro</a></li>
              <li class="list-group-item"><a href="#">Illum</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Perspiciatis</a></li>
          <li class="list-group-item"><a href="#">Doloremque</a>
            <ul class="li list-group-itemst-group">
              <li class="list-group-item"><a href="#">Quod</a></li>
              <li class="list-group-item"><a href="#">Provident</a></li>
              <li class="list-group-item"><a href="#">Cumque</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>