.col-12
    .jumbotron.jumbotron__home.text-center.m-0.fullscreen-bg(style='background-image: url("../images/ChairsOnBeach.png");')
        .container
            .row
                .col-xl-8.mx-auto
                    .display-4.text-white User, Say Yes to Adventure!
                    p.lead.text-white Earn. Redeem. Relax.
            .row 
                .col-md-6.mx-auto
                    .row 
                        .col-sm-6.mb-2.mb-sm-0 
                            a.btn.btn-primary.btn-block(href="/html/shopping.html") Start Earning
                        .col-sm-6 
                            a.btn.btn-primary.btn-block(href="/html/shopping.html") Start Shopping