.col-12
    .row.no-gutters 
        .col-lg-4.text-center.bg-dark.text-white.py-5
            include ../components/wish-list.pug
        .col-lg-4.text-center.py-5.bg-light 
            include ../components/goal-tracking.pug
        .col-lg-4.text-center.bg-dark.text-white.py-5
            include ../components/trivia.pug
            