.col-12.bg-primary.text-white 
    .container.py-5
        .row 
            .col-12.text-center 
                h1 Thank You For Being Our Partner!
                p.lead.mb-0 Use your points to explore and discover the world around you. From plane tickets, to hotel stays and activities, the possibilities are endless. 