form#form__forgot-password(action="")
    .form-row 
        .col-12
            .form-group
                label(for="forgot-password")  Email
                input.form-control#forgot-password(type="text" class="forgot-password" name='forgot-password')
    .form-row 
        .col-6
            .form-group
                label(for="passcode")  4 Digit Passcode
                input.form-control#forgot-password(type="password" class="passcode" name='passcode')
    
    .form-row
        .col-xl-6.mx-auto
            .form-group
                a.btn.btn-primary.login-button.btn-block(href='/html/forgot-password-success.html') Submit Reset Request