form#form__invitation(action="")
    .form-group
        label(for="invitationID")  Invitation ID
        input.form-control#invitationID(type="text" class="invitationid" name='invitationid')
    
    .form-group
        button.btn.btn-primary.login-button.btn-block(href='/html/enrollment.html') Continue to Enrollment Form