form#form__login(action="")
    .form-group
        label(for="loginEmail")  Email
        input.form-control#email(type="text" class="loginusername" name='email')
    .form-group
        label(for="loginPassword")  Password
        input.form-control#password(type="password" class="loginusername" name='password')
    .form-group
        button.btn.btn-primary.login-button.btn-block(type='submit') Login