extends index.pug

block screen-title
    .display-4#page-title Contact
    p.text-center If you have a specific question or concern about this program or website that was not addressed, please complete the form below. We will reply to your inquiry within one business day. 

block screen-content
    include ../pug/includes/forms/contact.pug