extends index.pug

block screen-title
    .display-4#page-title Enrollment
    p.lead.mb-2 Last Step. 

block screen-content
    p.mb-2 Just enter a few details about yourself.
    
    include ../pug/includes/forms/enrollment.pug