extends index.pug

block screen-title
    .display-4#screen-title FAQ
    p.lead.mb-2 Looking for answers? Most questions can be answered by searching the list below.

block screen-content 
    #accordion__faq.accordion.text-left
        //- .card
        //-     #faq-heading-1.card-header
        //-         h2.mb-0
        //-             button.btn.btn-link(type='button' data-toggle='collapse' data-target='#faq-q-1' aria-expanded='true' aria-controls='faq-q-1')
        //-                 | Collapsible Group Item #1
        //-     #faq-q-1.collapse.show(aria-labelledby='faq-heading-1' data-parent='#accordion__faq')
        //-         .card-body
        //-             | Anim pariatur cliche reprehenderit, 

       
