extends index.pug

block screen-title
    .display-4 Reset Password
  
    


block screen-content
    p.mb-2 Please input your email address and create a 4 digit passcode. Password reset instructions will be sent to your email address. Remember the passcode you created. You will need it to complete your password reset.
    include ../pug/includes/forms/forgot-password.pug