extends index.pug

block screen-title
    .display-4 Reset Request Sent
  
    
block screen-content
    .row
        .col-12
            p.mb-2 If you entered a registered email address, then an email with instructions on how to reset your password has been sent to the address provided. The instructions in the email are only valid for the next two hours. Please reset your password as soon as you receive the email. 
        .col-6.mx-auto
            a.btn.btn-primary.btn-block(href='/html/index.html') Back to Login