extends layout.pug

block main-content
  main.h-100.d-flex.fullscreen-bg.flex-column(style='background-image: url("../images/ChairsOnBeach.png")')
    .row.my-auto.mx-auto.w-100.justify-content-center.p-3
      .col-12.col-sm-10.col-md-8.col-xl-6.bg-white.text-center.login-box.p-4
        block screen-title
          .display-4#screen-title Great Experiences
          p.lead.mb-2 Are a click away.

          p.mb-2 Log in below to manage your account. If you are new to the program and have been issued an Invitation ID, 
            span 
              a(href='/html/invitation.html') enroll here.
        block screen-content
          include ../pug/includes/forms/login.pug





