extends index.pug

block screen-title
    .display-4 Invitation 
    p.lead.mb-2 Step 
        span.font-weight-bold 1 
        span of 
        span.text-muted 2
    p.mb-2 Have you been invited to join our program? Enter your Invitation ID below.


block screen-content
    include ../pug/includes/forms/invitation.pug