extends default.pug

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        .row
            .col-12.text-center
                h1#page-title Leaderboard
                p.lead See where you and your competitors rank. 

        .row
            .col-12
                h2.h4.border-bottom.mb-3.my-account__section-heading  Leaderboard
            .col-12 
                p Leaderboard Option Here