extends default.pug

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        .row
            .col-12.text-center
                h1#screen-title Learn & Earn
                p.lead The Learn & Earn Module allows your participants to earn points when they pass tests and quizzes. 

        .row
            .col-12
                h2.h4.border-bottom.mb-3.my-account__section-heading  Leaderboard
            .col-12 
                p Leaderboard Option Here