extends default.pug

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        .row
            .col-12.text-center
                h1#screen-title My Account
                p.lead Here you can view your order history detailing all of the points you have redeemed.

        .row
            .col-12
                h2.h4.border-bottom.mb-3.my-account__section-heading  My Promotions
            .col-12 
                p Promotions Grid Here
        .row
            .col-12
                h2.h4.border-bottom.mb-3.my-account__section-heading  My Points
            .col-12 
                p Point Breakdown
        .row
            .col-12
                h2.h4.border-bottom.mb-3.my-account__section-heading  My Transaction History
            .col-12 
                p Transaction History Grid


            
    
    
    
