extends default.pug

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        .row
            .col-12.text-center
                h1#page-title Performance Tracking
                p.lead The Performance Tracking Module will help you track your goals online with an easy to use submission form. 

        .row
            .col-12
                h2.h4.border-bottom.mb-3.my-account__section-heading  Promotions
            .col-12 
                p Promotions Grid Here