extends index.pug

block screen-title
    .display-4#privacy-title Privacy

block screen-content
    .text-left
        p Incentive Solutions, Inc. (d.b.a. Reward Headquarters) ("ISI") has created this Privacy Policy to explain what information we may collect about users of this website and how we will use that information in our business. The following describes our information gathering and dissemination practices for this website. By accepting this Privacy Policy, you expressly consent to ISI and your company sponsor ("Sponsor") (collectively, "we" "our" or "us") using any information gathered about you as contemplated herein. While this Privacy Policy will be available on our website, we recommend that you print and retain a copy of this Privacy Policy for your records. 

        p.font-weight-bold The Information we collect and how we use that information:
        ul
            li 
                p
                    span.font-weight-bold  Transactions Data -  
                    span When you submit information for a particular transaction on the website ("Transactions"), we will store and use that information for processing the transaction and for other internal business purposes such as fulfillment of your redeemed reward points. We may send personally identifiable information provided by you, including name, address, and email address, to other companies or people when: 
                ul 
                    li We have your consent to share the information 
                    li We need to share this information to provide to you the information, product or service you have requested 
                    li We respond to subpoenas, court orders or legal process; or 
                    li We find or have reason to believe that your actions on our website violate website terms or conditions or are in violation of law.
            li
                p
                    span.font-weight-bold  Demographic and Supplier Profile Information - 
                    span  Demographic information may be collected at this website from time to time through surveys or other methods. We also collect general information about users of this website, such as which areas of the website and which services users utilize most frequently. We use this information in aggregate form to assess the functionality and performance of this website, and to assess the needs of our suppliers. This information may be shared with third parties on an aggregate basis. 
            li
                p
                    span.font-weight-bold Internet Protocol Address - 
                    span  We may collect an IP address from all visitors to this website. We may use your IP address to help diagnose problems with our server, and to administer this website. Your IP address may also be used to help identify you when you visit this website. 
            li
                p
                    span.font-weight-bold Other - 
                    span  We may disclose information about you and your use of this website if required to do so by law, court order, or other government or law enforcement authority; or when we believe in good faith that disclosing such information is otherwise necessary or advisable, including, for instance, to satisfy tax and other reporting purposes or to identify, contact or bring legal action against someone who may be causing injury to or interfering with the rights or property of ISI, Sponsor, another user, or of anyone else that could be harmed by such activities. 
            li
                p
                    span.font-weight-bold Use of Cookies - 
                    span  This website uses cookies to enhance your experience while using this website. Cookies are pieces of information that websites transfer to the computer that is browsing that website and are used for record-keeping purposes. ISI may use cookies to save information related to your use of this website. To use this website, your browser must be set to accept cookies. 
            li
                p
                    span.font-weight-bold Assignment -
                    span  ISI may assign this Privacy Policy (a) to any of its affiliates, (b) to the surviving entity in the event of a merger, acquisition, or the sale of all or substantially all of the assets of ISI, or (c) in connection with the sale of this website or the business unit associated with this website. 
            li
                p
                    span.font-weight-bold Security - 
                    span  This website has appropriate security measures in place to protect your confidential information. We use SSL technology during data transfer and security procedures during storage. 
            li
                p
                    span.font-weight-bold Contacting the Website - 
                    span  If you have any questions about this privacy policy, please contact us using the Contact form. 