extends default.pug

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        .row
            .col-12.text-center
                h1#screen-title Quick Points
                p.lead Got a certificate? Redeem your points here and start shopping! 

        .row
            .col-12 
                p Claim your points by entering the certificate number found on your On-the-Spot certificate. 
