extends default.pug

block append header-scripts
  link(rel="stylesheet", href="/css/jquery-stack-menu.min.css")

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        include ../././pug/includes/components/shopping/shopping-nav.pug
        include ../././pug/includes/components/shopping/shopping-header-image.pug
        .row
          .col-12.text-center
              h1#page-title Reward Yourself
        include ../././pug/includes/components/shopping/shopping-carousel.pug
        include ../././pug/includes/components/shopping/shopping-featured-categories.pug
block append footer-scripts

    script(src='/js/jquery-stack-menu.min.js')
    script.
        $(document).ready(function(){
        $("#stack-menu").stackMenu()
        });
    script(src='/pug/includes/components/shopping/shopping-nav.js')


        