extends default.pug

block header
  include ../pug/includes/header-private.pug


block screen-content
    .container.py-2
        .row
            .col-12.text-center
                h1#page-title Who We Are
        .row
            .col-12 
                p Who We Are info