.menu
    nav#stack-menu
        ul.li.list-group-item
            li.list-group-item
                a(href='#') Shop the Catalog
                ul.li.list-group-item#top-level-categories
            //-         li.list-group-item
            //-             a(href='#') Apple
            //-             ul.li.list-group-item.second-level-categories
            //-                 li.list-group-item
            //-                     a(href='#') Mac Systems               
            //-         li.list-group-item
            //-             a(href='#') Baby
            //- li.list-group-item
            //-     a(href='#') Search Event Tickets
            //- li.list-group-item
            //-     a(href='#') Shop Travel Destinations
            //-             ul.li.list-group-itemst-group
            //-                 li.list-group-item
            //-                     a(href='#') Vel
            //-                 li.list-group-item
            //-                     a(href='#') Cumque
            //-                 li.list-group-item
            //-                     a(href='#') Facere
            //-                 li.list-group-item
            //-                     a(href='#') Enim
            //-                 li.list-group-item
            //-                     a(href='#') Nihil
            //-                 ul.li.list-group-itemst-group
            //-                     li.list-group-item
            //-                         a(href='#') Quidem
            //-                     li.list-group-item
            //-                         a(href='#') Temporibus
            //-                     li.list-group-item
            //-                         a(href='#') Fugit
            //-                     li.list-group-item
            //-                         a(href='#') Dolore
            //-         li.list-group-item
            //-             a(href='#') Vitae
            //-         li.list-group-item
            //-             a(href='#') Ipsum
            //- li.list-group-item
            //-     a(href='#') Lorem
            //-     ul.li.list-group-itemst-group
            //-         li.list-group-item
            //-             a(href='#') Simili
            //-         li.list-group-item
            //-             a(href='#') Distinctio
            //-         li.list-group-item
            //-             a(href='#') Porro
            //-         li.list-group-item
            //-             a(href='#') Illum
            //- li.list-group-item
            //-     a(href='#') Perspiciatis
            //- li.list-group-item
            //-     a(href='#') Doloremque
            //-     ul.li.list-group-itemst-group
            //-         li.list-group-item
            //-             a(href='#') Quod
            //-         li.list-group-item
            //-             a(href='#') Provident
            //-         li.list-group-item
            //-             a(href='#') Cumque
            li.list-group-item
                a(href='#') Shop Event Tickets
            li.list-group-item
                a(href='#') Shop Travel Destinations