.row#featured-products
    //- -for(i=0; i< 20; i++)
    //-     .col-6.col-md-3.mb-4
    //-         .card.search-result
    //-             .card-body.text-left
    //-                 .item-img.d-block.mx-auto
    //-                     img(src='#')
    //-                 a(href='#') item title
.row#search-pagination