.row
    .col-12.text-center
        h2.section-title Featured Categories
    .col-12
        .row#categories.justify-content-center 
            //- -for(i=0; i<9; i++)
            //-     .col-6.col-md-4.mb-4
            //-         .card 
            //-             .card-body