.row 
    .col-12 
        #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
            .carousel-inner
             .carousel-item.active
                .carousel-item.active
                    .row.justify-content-center.reward-yourself-row
                    //- -for(var i=0; i < 4; i++)
                    //-   .col-6.border.p-2
                    //-     a(href="#").text-center
                    //-       img.d-block.mx-auto.item-img(src='https://rewardtrax.com/catalog/movies/Fandango_V_160.png')
                    //-       p.item-title Item Title
                    
                //- .carousel-item
                //-   .row.justify-content-center
                //-     -for(var i=0; i < 4; i++)
                //-       .col-6.border.p-2
                //-         a(href="#").text-center
                //-           img.d-block.mx-auto.item-img(src='https://rewardtrax.com/catalog/movies/Fandango_V_160.png')
                //-           p.item-title Subtitle here
                //- .carousel-item
                //-   .row.justify-content-center
                //-     -for(var i=0; i < 4; i++)
                //-       .col-6.border.p-2
                //-         a(href="#").text-center
                //-           img.d-block.mx-auto.item-img(src='https://rewardtrax.com/catalog/movies/Fandango_V_160.png')
                //-           p.item-title Subtitle here