.row.py-3
    .col-12
        ul.list-group.list-group-horizontal.text-center
            li.list-group-item.flex-fill
                a(href="#") Catalog
            li.list-group-item.flex-fill
                a(href="#") Events
            li.list-group-item.flex-fill
                a(href="#") Travel
    .col-12
        img.img-fluid(src='https://rewardtrax.com/isiprogram/V5/images/shoppingHeader_electronics.jpg')