.row#horizontal-filter-bar.align-items-center.mb-3.justify-content-between
    .col-12.col-sm-5.col-md-4 
        p.mb-sm-0
            span.font-weight-bold Items Found
            span.ml-1 2092
    .col-12.col-sm-7.col-md-6.col-lg-4.text-left.text-lg-right
        .row.align-items-center
            .col-4.col-sm-4.pr-0
                p.mb-0.mr-lg-2  Filter by:
            .col-8.col-sm-8.pl-0
                select.custom-select(name="")
                    option(value="1") Price Low to High
                    option(value="2") Price Hight to Low